@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenu dans notre aplication web Animal</h1>
    <p>Voici un lien github du code complet <a href="https://github.com/joseeange04/AnimalApplicationCRUD/tree/main">Repos git du projet pour suivre l'évolution <i class="fab fa-github"></i>'</a>.</p>
</div>


